@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;500;600&display=swap');

*{
  font-family: 'Advent Pro', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(212, 212, 212);
  font-family:  'Open Sans Condensed', sans-serif;;
  font-size: 20px;
  box-sizing: border-box;
}
.header {
  text-align: center;
  border: 1px solid black;
  color: rgb(255, 253, 253);
  background-color: #293536;
  text-decoration: none;
}

.navi {
  padding: 5px;
  background-color: #8BB4B5;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.homeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  max-width: 80%;
  border: 2px solid #293536;
  border-radius: 15px;
  background-color: #8BB4B5;
  color: 293536;
}

#fotoPrincipal {
  border: 2px solid #293536;
}

.homeContainer p{
  max-width: 75%;
  line-height: 40px;
}

.homeContainer hr{
  width: 50%;
  border: 1px solid #293536;
}

.home img{
  max-width: 200px;
  border-radius: 15px;
}

.main {
  text-align: center;
}

.habilitys-container{
  margin: 0;
}

.habilitys {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
}

.habilitys div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 15px;
  min-width: 200px;
  background-color: rgb(243, 240, 235);

}

.habilitys div img{
  max-width: 150px;
  margin-bottom: 50px;
}

.emailForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
}

.emailForm form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
  margin: 0 auto;
}

.inputForm{
  margin:  10px 0 10px 0 ;
}

.outOrder {
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #8BB4B5;
}

footer{
  text-align: center;
}
