@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;500;600&display=swap');

*{
  font-family: 'Advent Pro', sans-serif;
}

body {
  margin: 0;
  background-color: #E3EAF2;
  font-family:  'Open Sans Condensed', sans-serif;;
  font-size: 20px;
  box-sizing: border-box;
}

.header {
  color: aliceblue;
  text-align: center;
  border-top: 1px solid black;
  background-image: linear-gradient(black, rgb(43, 43, 43), rgb(85, 84, 84), rgb(112, 111, 111), #E3EAF2);
  text-decoration: none;
}

.navi {
  padding: 5px;

  display: flex;
  justify-content: space-around;
}

.home{
  background-image: url("./images/Fundo.png");
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeContainer{
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  max-width: 80%;
 
}

#fotoPrincipal {
  margin-top: 50px;
  border: 2px solid #293536;
}

.homeContainer p{
  max-width: 75%;
  line-height: 40px;
}

.homeContainer hr{
  width: 50%;
  border: 1px solid #293536;
}

.home img{
  max-width: 200px;
  border-radius: 15px;
}

.icones{
  margin: 0 10px 0 10px ;
}

.info-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.main {
  text-align: center;
}

.habilitys-container{
  margin: 0;  
}

.habilitys {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
}

.habilitys div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
  min-width: 200px;

}

.habilitys div img {
  width: 200px;
}

.certificado{
  width: 800px;
  margin: 0 auto;
}

.emailForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
}

.emailForm form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
  margin: 0 auto;
}

.inputForm{
  margin:  10px 0 10px 0 ;
}

.outOrder {
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #8BB4B5;
}

footer{
  margin: 0px auto;
  padding: 5px;
  color: white;
  background-image: linear-gradient(#E3EAF2, rgb(85, 84, 84), black);
  text-align: center;
}
